li{
    text-decoration: none;
    list-style-type: none;

}

header{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #1F2937;
    font-family: sans-serif;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

body{
    margin: 0;
}



.section1{
    display: flex;
    background-color: #1F2937;
    font-family: sans-serif;
    color: white;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 60px;
    flex-direction: column;
}



a{
    color: white;
    background-color: #3882F6;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}


li.logocontainer{
    font-size: 24px;
    padding-left: 60px;
}

.links{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 10px;
}

.links > li{
    margin: 8px;
}

.imagebox{
    display: flex;
    flex: 1;
    padding: 50px;
    width: 200px;
    height: 80px;
    justify-content: center;
    background-color: #E5E7EB;
    color: grey;
}

main{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding-bottom: 50px;
}

div.imageholder{
    margin-left: 150px;
}